---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Xinya Hao, Lin Zhang, Huanhuan Zheng (2026): FDI and Coal Lock-In: The Global South’s Development Dilemma. World Development, 206, 107453. Link
Qiang Li, Lin Zhang (2026): Whose Voices Are Being Heard? The Impacts of Public Participation on Policy Attention in China. American Review of Public Administration, forthcoming. Link
Xinya Hao, Yongying Huang, Lin Zhang (2025): High Temperature, Power Rationing, and Firm Performance. Journal of Development Economics, 176, 103541. Link
