---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<p style="color: rgb(0, 0, 255);"><b><u>Energy and Environmental Economics </u></b></p>
<ul>
  <li> Level: undergraduate </li>
  <li> Discription: This course aims to initiate students into the fields of energy and environmental economics and the economics of collectively shared resources. Students will become conversant with the language and methods of energy and environmental economics and be able to create applications of these methods to real-world problems.</li>
</ul>
